Schools Data

https://infohub.nyced.org/reports/school-quality/school-quality-reports-and-resources

Import modules

In [1]:
import pandas as pd
import numpy as np
from project_functions import *

Read in data

In [2]:
df = pd.read_excel('201819_ems_sqr_results.xlsx', index_col=2)

Remove NaN padding around dataframe

In [3]:
# Drop columns by name
df = df.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)
# Drop rows by index
df = df.reset_index(drop=True)
df = df.drop([0,1,3])
# Push up rows 
df = pd.DataFrame(df.values[1:], columns=df.iloc[0])
df = df.reset_index(drop=True)

Remove columns by name

In [4]:
df = df.drop(columns=['Enrollment', 
                 'Rigorous Instruction Rating',
                 'Collaborative Teachers Rating',
                 'Supportive Environment Rating',
                 'Effective School Leadership Rating',
                 'Student Achievement Rating',
                 'Rigorous Instruction - Percent Positive', 
                 'Collaborative Teachers - Percent Positive',
                 'Supportive Environment - Percent Positive',
                 'Effective School Leadership - Percent Positive',
                 'Quality Review - How interesting and challenging is the curriculum',
                 'Quality Review - How effective is the teaching and learning',
                 'Quality Review - How well does the school assess what students are learning',
                 'Quality Review - How clearly are high expectations communicated to students and staff',
                 'Quality Review - How well do teachers work with each other',
                 'Quality Review - How safe and inclusive is the school while supporting social-emotional growth',
                 'Quality Review - How well does the school allocate and manage resources',
                 'Quality Review - How well does the school identify, track, and meet its goals',
                 'Quality Review - How thoughtful is the school s approach to teacher development and evaluation',
                 'Quality Review - How well are school decisions evaluated and adjusted',
                 'Quality Review - Dates of Review',
                 'Average Incoming ELA Proficiency (Based on 5th Grade)',
                 'Average Incoming Math Proficiency (Based on 5th Grade)',
                 'Percent of teachers with 3 or more years of experience',
                 'Percent of Students Chronically Absent',
                 'Years of principal experience at this school',
                 'Teacher Attendance Rate'])

Drop NaN values

In [5]:
df = df.dropna()

Remove Charter Schools (from bottom of df)

In [6]:
df = df.iloc[:-140,:]

In [7]:
# df = df.drop(df.tail(143).index,inplace=False)

Rename columns

In [15]:
df = df.rename(columns={'DBN': 'dbn', 
                        'School Name': 'school_name', 
                        'School Type': 'school_type',
                        'Strong Family-Community Ties Rating': 'fam_comm_ties_rating',
                        'Trust Rating': 'trust_rating',
                        'Strong Family-Community Ties - Percent Positive': 'pct_pos_fam_comm_ties',
                        'Trust - Percent Positive':'pct_pos_trust',
                        'Percent English Language Learners':'pct_ell',
                        'Percent Students with Disabilities':'pct_disabilities',
                        'Percent Self-Contained':'pct_self_contained',
                        'Economic Need Index':'economic_need_index',
                        'Percent in Temp Housing':'pct_temp_housing',
                        'Percent HRA Eligible':'pct_hra_eligible',
                        'Percent Asian':'pct_asian',
                        'Percent Black':'pct_black',
                        'Percent Hispanic':'pct_hispanic',
                        'Percent White':'pct_white',
                        'Student Attendance Rate':'student_attendance_rate',
                        })

Reset index

In [21]:
df = df.reset_index(drop=True)

In [29]:
df.tail()

2,dbn,school_name,school_type,fam_comm_ties_rating,trust_rating,pct_pos_fam_comm_ties,pct_pos_trust,pct_ell,pct_disabilities,pct_self_contained,economic_need_index,pct_temp_housing,pct_hra_eligible,pct_asian,pct_black,pct_hispanic,pct_white,student_attendance_rate
1093,32K377,P.S. 377 Alejandrina B. De Gautier,Elementary,Meeting Target,Meeting Target,0.96,0.88,0.133,0.289,0.156,0.824,0.126,0.756,0,0.244,0.748,0.007,0.916
1094,32K383,J.H.S. 383 Philippa Schuyler,Middle,Approaching Target,Approaching Target,0.88,0.8,0.058,0.167,0.07,0.744,0.103,0.644,0.046,0.345,0.571,0.023,0.944
1095,32K384,P.S. /I.S. 384 Frances E. Carter,K-8,Meeting Target,Exceeding Target,0.94,0.94,0.265,0.29,0.158,0.899,0.145,0.84,0.006,0.118,0.87,0.004,0.917
1096,32K554,All City Leadership Secondary School,Middle,Exceeding Target,Exceeding Target,0.96,0.95,0.022,0.072,0,0.645,0.061,0.522,0.083,0.067,0.694,0.15,0.974
1097,32K562,Evergreen Middle School for Urban Exploration,Middle,Meeting Target,Exceeding Target,0.93,0.93,0.165,0.23,0.057,0.904,0.246,0.843,0.008,0.219,0.754,0.019,0.949

Convert to csv

In [11]:
# df.to_csv('sqr_no_comments.csv', index=False)