In [20]:
import pandas as pd

In [3]:
df_1 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/0-200_comments.csv')

In [4]:
df_2 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/200-300_comments.csv')

In [5]:
df_3 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/300-350_comments.csv')

In [6]:
df_4 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/350-400_comments.csv')

In [7]:
df_5 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/400-425_comments.csv')

In [8]:
df_6 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/425-500_comments.csv')

In [9]:
df_7 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/500-750_comments.csv')

In [10]:
df_8 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/750-800_comments.csv')

In [11]:
df_9 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/800-900_comments.csv')

In [12]:
df_10 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/900-925_comments.csv')

In [13]:
df_11 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/925-1076_comments.csv')

In [14]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11], ignore_index = True)

In [16]:
df.shape

(22810, 22)

In [17]:
df.columns

Index(['dbn', 'username', 'borough', 'grade_level', 'enrollment', 'comment',
       'likes', 'dislikes', 'replies', 'post_date', 'fam_comm_ties', 'pct_ell',
       'pct_disabilities', 'pct_self_contained', 'economic_need_index',
       'pct_temp_housing', 'pct_hra_eligible', 'pct_asian', 'pct_black',
       'pct_hispanic', 'pct_white', 'pct_chronic_absent'],
      dtype='object')

In [18]:
df.tail()

,dbn,username,borough,grade_level,enrollment,comment,likes,dislikes,replies,post_date,...,pct_disabilities,pct_self_contained,economic_need_index,pct_temp_housing,pct_hra_eligible,pct_asian,pct_black,pct_hispanic,pct_white,pct_chronic_absent
22805,32K554,Anonymous,brooklyn,Middle,180,"<P>""Students gain leadership experience and co...",0,1,0,2005-06-24T20:40:59,...,0.072,0.000,0.948,0.061,0.522,0.083,0.067,0.694,0.150,0.033
22806,32K554,X.G,brooklyn,Middle,180,When are the open houses? I am an eith grader ...,0,0,1,2016-10-19T00:59:06,...,0.072,0.000,0.948,0.061,0.522,0.083,0.067,0.694,0.150,0.033
22807,32K562,Bob,brooklyn,Middle,370,"Subbed at this school Twice, admins are rude, ...",0,0,0,2019-12-04T18:02:31,...,0.230,0.057,0.877,0.246,0.843,0.008,0.219,0.754,0.019,0.138
22808,32K562,Your mad,brooklyn,Middle,370,I’m his school is very good you are just mad b...,0,0,1,2020-03-09T22:35:37,...,0.230,0.057,0.877,0.246,0.843,0.008,0.219,0.754,0.019,0.138
22809,32K562,Guest,brooklyn,Middle,370,"The school is located in Bushwick, not East NY",1,0,0,2013-07-01T20:13:44,...,0.230,0.057,0.877,0.246,0.843,0.008,0.219,0.754,0.019,0.138

In [40]:
missing_count = []
for x in df.iloc[:,5].isna():
    if x:
        missing_count.append(x)
    else:
        continue
for x in df.iloc[:,5]:   
    if x == '.':
        missing_count.append(x)
    else:
        continue
print(str(df.iloc[:,5].name) + ' contains '+ str(len(missing_count)) + ' missing values.')

comment contains 0 missing values.

In [38]:
df[df['comment'] == '.']

,dbn,username,borough,grade_level,enrollment,comment,likes,dislikes,replies,post_date,...,pct_disabilities,pct_self_contained,economic_need_index,pct_temp_housing,pct_hra_eligible,pct_asian,pct_black,pct_hispanic,pct_white,pct_chronic_absent
1427,02M130,madmin14,manhattan,Elementary,823,.,2,0,1,2013-04-10T01:53:25,...,0.169,0.023,0.564,0.030,0.429,0.880,0.009,0.049,0.029,0.028
3998,04M108,Guest,manhattan,K-8,417,.,0,0,0,2014-02-07T15:55:51,...,0.345,0.094,0.942,0.225,0.892,0.034,0.336,0.590,0.026,0.427
4864,06M115,mickeroni,manhattan,Elementary,418,.,0,0,0,2012-12-04T20:47:21,...,0.215,0.100,0.920,0.280,0.844,0.012,0.007,0.945,0.031,0.340
8612,11X468,nichaja patterson,bronx,Middle,332,.,0,0,0,2013-04-20T01:51:56,...,0.232,0.048,0.378,0.133,0.699,0.087,0.169,0.611,0.130,0.283

In [39]:
df = df[df['comment'] != '.']

In [31]:
df = df.dropna()