In [1]:
import pandas as pd

In [2]:
# Read in csv's then concat them into a single dataframe
df_1 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/0-200_comments.csv')
df_2 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/200-300_comments.csv')
df_3 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/300-350_comments.csv')
df_4 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/350-400_comments.csv')
df_5 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/400-425_comments.csv')
df_6 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/425-500_comments.csv')
df_7 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/500-750_comments.csv')
df_8 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/750-800_comments.csv')
df_9 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/800-900_comments.csv')
df_10 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/900-925_comments.csv')
df_11 = pd.read_csv('/Users/kevinmacmat/Documents/flatiron/module_projects/capstone/csv/batch_scraped_csv/925-1076_comments.csv')
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11], ignore_index = True)

In [12]:
df[df['comment'] == '.']

,dbn,username,borough,grade_level,enrollment,comment,likes,dislikes,replies,post_date,...,pct_disabilities,pct_self_contained,economic_need_index,pct_temp_housing,pct_hra_eligible,pct_asian,pct_black,pct_hispanic,pct_white,pct_chronic_absent
1427,02M130,madmin14,manhattan,Elementary,823,.,2,0,1,2013-04-10T01:53:25,...,0.169,0.023,0.564,0.030,0.429,0.880,0.009,0.049,0.029,0.028
3998,04M108,Guest,manhattan,K-8,417,.,0,0,0,2014-02-07T15:55:51,...,0.345,0.094,0.942,0.225,0.892,0.034,0.336,0.590,0.026,0.427
4864,06M115,mickeroni,manhattan,Elementary,418,.,0,0,0,2012-12-04T20:47:21,...,0.215,0.100,0.920,0.280,0.844,0.012,0.007,0.945,0.031,0.340
8612,11X468,nichaja patterson,bronx,Middle,332,.,0,0,0,2013-04-20T01:51:56,...,0.232,0.048,0.378,0.133,0.699,0.087,0.169,0.611,0.130,0.283

In [ ]:
# Remove entries with no comments.
df = df.dropna()
df = df[df['comment'] != '.']

---

## Cleaning

---

**Format Date and Time:**

Format date and time to include year, month, day, and hour instead of a timestamp.

In [ ]:
# Remove "T" character in timestamp to access time
df['post_date'] = df['post_date'].str.replace('T', ' ')
# Convert series to datetime
df['post_date'] = pd.to_datetime(df['post_date'])
# Create columns for comments' year, month, day, and hour
df['post_year'] = pd.DatetimeIndex(df['post_date']).year
df['post_month'] = pd.DatetimeIndex(df['post_date']).month
df['post_day'] = pd.DatetimeIndex(df['post_date']).day
df['post_hour'] = df['post_date'].dt.hour
# Drop post_date column
df = df.drop(['post_date'], axis=1)

**Remove Unwanted Text:**

In [ ]:
# Remove paragraph tags
df = df.replace(to_replace ='</ ?[pP]>', value = '', regex = True)
df = df.replace(to_replace='<[pP]>', value='', regex=True)
# Remove hyperlinks
df = df.replace(to_replace='<[aA].*</[aA]>', value='', regex=True)
# Remove newline
df = df.replace(to_replace='\n', value='', regex=True)
# Remove non breaking space
df = df.replace(to_replace='\xa0', value='', regex=True)
# Remove characters: &nbsp;
df = df.replace(to_replace='&nbsp;', value='', regex=True)
# Remove html comments
df = df.replace(to_replace='<!--.*-->', value='', regex=True)

---

## Create CSV

---

In [ ]:
# Create CSV
df.to_csv('comments_metadata.csv', index=False)